body {
  background-color: #82B9F6;
}

ul {
  margin: 0;
  padding: 0;
}

.list-no-decoration {
  list-style-type: none;
}

h1 {
  color: white;
  margin: 10px 10px 20px 10px;
}

.App-item {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
  font-size: 20px;
}

.wrapper {
  padding: 10px 20px;
}